.card {
  width: 100%;
  max-width: 28rem;
}

.rounded-circle {
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.contact a{
  width: 45%;
}

.social-icon-wrap {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 54px;
  max-height: 54px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 16px;
  box-sizing: border-box;
}

.social-text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}


:root {
  --bs-danger: #ff6f32;
  --bs-danger-rgb: 255,111,50;
  --bs-warning: #f2ede4;
  --bs-warning-rgb: 242,237,228;
}